body {
    background-color: rgb(16, 18, 25);
    color: rgb(185, 205, 218);
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;  
}
h1{
    font-size: 1300%;
}
p{
    font-size: 750%;
}
input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 850%;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 1vw rgba(0,0,0,0.5), 0 0 0 12vw transparent;
    border-radius: 3vw;
    border: none;
    outline: none;
    padding: 1vw;
    width: 50%;
    transition: .4s;
    margin: 3px;
}
  
input:hover {
    box-shadow: 0 0 0 1vw rgba(135, 207, 235, 0.186);
}
  
input:focus {
    box-shadow: 0 0 0 1vw skyblue;
}
.button-st {
    background-color: rgb(253, 249, 0);
    border-radius: 12px;
    color: rgb(16, 18, 25);
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 750%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-st:not(:disabled):hover,
.button-st:not(:disabled):focus {
    outline: 0;
    background: hsl(59, 100%, 74%);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}
  
.button-st:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.button-st-min {
      background-color: rgb(253, 249, 0);
      border-radius: 12px;
      color: rgb(16, 18, 25);
      cursor: pointer;
      font-weight: bold;
      padding: 10px 15px;
      text-align: center;
      transition: 200ms;
      width: 40%;
      box-sizing: border-box;
      border: 0;
      font-size: 350%;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin: 5%;
}

.button-st-min:not(:disabled):hover,
.button-st-min:not(:disabled):focus {
    outline: 0;
    background: hsl(59, 100%, 74%);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}
  
.button-st-min:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.home {
    padding: 20% 0;
}
